body {
    margin: 0;
    background-color: rgb(238, 84, 207);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #085c7e;
}

h1 {
    color: rgb(103, 188, 18);
    font-size: 3em;
}

h2{
    font-size: 1.5rem;
}

p{
    line-height: 1.5;
}

header p{
    font-size: 1.1rem;
}

header{
    padding: 40px;
    text-align: center;
    background-color: #486574;
    color: rgb(68, 68, 141);
}

main{
    padding: 30px;
    padding: 30px;
    margin: auto;
}

section{
    background-color: rgb(38, 84, 0);
    padding: 20px;
    margin-bottom: 20px;
}

footer{
    padding: 20px;
    text-align: center;
}
